body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background: rgb(191, 223, 231);
}

h1 {
    text-align: center;
}

img {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

div img {
    margin-right: 10px;
}

.colonia {
    display: flex;
    justify-content: center;
    max-width: 50%;
    width: 50%;
    
    align-self: left;
    margin-bottom: 200px;

}

.texto-colonia {
    align-self: right;
    float: right;
    max-width: 50%;
    width: 50%;
    
    font-size: 22px;
    margin-bottom: 200px;
}

h3 {
    margin-top: 100px;
    margin-bottom: 25px;
}

.viagemTitulo {
    margin-left: 50%;
    margin-top: 200px;
}

.coloniaTitulo {
    margin-left: 50%;
    margin-top: 200px;
}

.testo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    align-items: center
    
}

.testa{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    max-width: 8000px;
}


.testa :nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    align-self: start;
    align-items: start;
    
}

p{
    font-size: 22px;
}

h3{
    font-size: 30px;
}
.espaco{
    margin-bottom: 20px;
}




